<!DOCTYPE html>
<html>

	<head>



		<title>Medical Arena</title>



	</head>


	<body>



		<h1>Add Model</h1>
		<form action="/add" method="POST">
<!-- 			<span>ID: </span>
			<input type="text" name="db_id" required>
			<br> -->
			<span>Name:</span>
			<input type="text" name="name" required>
			<br>
			<span>Company:</span>
			<input type="text" name="company" required>
			<br>
			<span>Vote Score:</span>
			<input type="number" name="vote_score" required>
			<br>
			<span>Test Score:</span>
			<input type="number" name="test_score" required>
			<br>
			<span>Overall Score:</span>
			<input type="number" name="overall_score" required>
			<br>
			<span>License:</span>
			<input type="text" name="license" required>
			<br>
			<button type="submit">Add Model</button>
		</form>

















	</body>






</html>