<!DOCTYPE html>
<html>

	<head>



		<title>Medical Arena</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">


	</head>


	<body>



		<h1>Compete</h1>


		<h2>Select Models</h2>

		<span>Model 1:</span>
		<select id="first_model_selected">
			{% for model in llm_model_collection %}
			<option value="{{model.db_id}}">{{model.name}}</option>
			{% endfor %}
		</select>

		<script>
			const chat_id_list_first = {{ chat_id | tojson }};
			const chat_id_first = chat_id_list_first[0]
			document.getElementById("first_model_selected").addEventListener("change", function(){
				let selected_db_id = this.value;
				fetch(`/update_model_selection/${selected_db_id}/${chat_id_first}`)
					.then(response => response.text())
			})


		</script>


		<br>

		<span>Model 2:</span>
		<select id="second_model_selected">
			{% for model in llm_model_collection %}
			<option value="{{model.db_id}}">{{model.name}}</option>
			{% endfor %}
		</select>

		<script>
			const chat_id_list_second = {{ chat_id | tojson }};
			const chat_id_second = chat_id_list_second[1]
			document.getElementById("second_model_selected").addEventListener("change", function(){
				let selected_db_id = this.value;
				fetch(`/update_model_selection/${selected_db_id}/${chat_id_second}`)
					.then(response => response.text())
			})


		</script>



		<!-- <h2>Answer from Model 1</h2>
		<textarea readonly id="answer_1">This is model 1.</textarea>


		<h2>Answer from Model 2</h2>
		<textarea readonly id="answer_2">This is model 2.</textarea> -->

		<div style="display: flex; gap: 20px; height: 50vh;">
		    <div style="width: 50%;">
		        <h2>Answer from Model 1</h2>
		        <textarea readonly id="answer_1" style="width: 100%; height: 75%">This is model 1.</textarea>
		    </div>
		    <div style="width: 50%;">
		        <h2>Answer from Model 2</h2>
		        <textarea readonly id="answer_2" style="width: 100%; height: 75%">This is model 2.</textarea>
		    </div>
		</div>


		<h2>Your Response</h2>
			
		<div>
			<form id="user_input_box" style="width: 50vh; height: 30vh;">
				<span>Your Input:</span>
				<br>
				<textarea id="user_input" required style="width: 100%; height: 75%"></textarea>
				<br>
				<button type="button" id="submit_input">Submit</button>
			</form>


			<form action="/vote_first" method="POST">
				<button type="submit" method="POST">Vote First</button>
			</form>
			

			<form action="/vote_second" method="POST">
				<button type="submit" method="POST">Vote Second</button>
			</form>
			

			<form action="/vote_tie" method="POST">
				<button type="submit" method="POST">Vote Tie</button>
			</form>
			

			<form action="/restart" method="POST">
				<button type="submit">Restart</button>
			</form>

		</div>


	<script>

		const chat_id = {{ chat_id | tojson }};
		console.log(chat_id)
		document.getElementById("submit_input").addEventListener('click', function(){
			// event.preventDefault();

			const input_text = document.getElementById("user_input").value;

			fetch('/submit_user_input', {
				method: "POST",
				headers: {"Content-Type": "application/json"},
				body: JSON.stringify({chat_id: chat_id, input_text: input_text})
			})
			.then(response => response.json())
			.then(data => {
				document.getElementById("answer_1").value = data.answer_1
				document.getElementById("answer_2").value = data.answer_2
			})
		});

	</script>
	</body>
</html>